.sortable-ghost-funnel {
  background: paleturquoise !important;
  color: black;
}
.sortable-chosen-funnel {
  background: palegreen !important;
  color: black;
}

.sortable-drag-funnel {
  background: palegoldenrod !important;
  max-width: 250px;
  color: black;
}
.sortable-selected-funnel {
  background: lightcoral !important;
  color: black;
}

.sortable-user {
  min-width: 300px;
  padding: 5px;
  background: rgba(10, 10, 10, 0.8);
  /* gap: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden; */
}
button {
  font-size: small;
  /* width: 50px; */
  min-width: 35px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid rgba(250, 250, 250, 0.2);
  padding: 3px;
  font-weight: bolder;
  color: rgba(192, 192, 192, 0.9);
  background: rgba(192, 192, 192, 0.2);
  mix-blend-mode: contrast;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button > * {
  /* mix-blend-mode: difference; */
}
button:hover {
  background: rgba(250, 250, 250, 0.3);

  color: white;
  border: 2px solid rgba(250, 250, 250, 0.6);

  /* box-shadow: 0 0 0 2em #F4AAB9,; */
}
.tab_selected {
  background: rgba(250, 250, 250, 0.2);
  color: rgba(245, 245, 245, 0.8);
  border: 2px solid rgba(245, 245, 245, 0.8);

  /* filter: drop-shadow(0 0 0.2rem rgba(192, 192, 192, 0.6)); */
}
