.overlay {
  color: silver;
  background: rgba(10, 10, 10, 0.78);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999999999999999999;
  width: 100vw;
  max-width: 100vw;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  display: none;
  flex-direction: column;
  opacity: 0;
  backdrop-filter: blur(10px);
  align-items: center;
  /* overflow: hidden; */
}
.overlay option,
.overlay select,
.overlay input {
  font-size: 16px;
}
.overlay > div {
  /* margin-top: 5px; */
  height: 100%;
  max-height: 100%;
  /* border-radius: 10px; */
  background: rgba(10, 10, 10, 0.6);
  /* border: solid 2px palegoldnrod; */
  box-shadow: 0 0 0 2px rgba(100, 100, 100, 0.8);
  width: 100%;
  max-width: min(1000px, 100%);
  /* max-height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* padding: 5px; */
}
