.login {
  min-height: 100vh;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  /* background-image: url('/slider0.png'); */
  /* background-size: cover; */
  /* background-position: 50% 50%; */
}
.login > img {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 60px;
  object-fit: contain;
  transform: translateX(-50%);
}
.login .form > img {
  width: 38%;
  transform: translateY(-38%);
  object-fit: contain;
  margin: auto;
}
.login .form {
  position: relative;
  background: rgba(10, 10, 20, 0.99);
  border-radius: 15px;
  padding: 0px 20px 20px 20px;
  margin: auto;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  width: 300px;
  filter: drop-shadow(0 0 0.5rem black);
}
.field input {
  flex: 1;
  /* background: rgb(10, 10, 10); */
  border-radius: 8px;
  padding: 5px;
  /* color: silver; */
}
.field input:focus {
  /* background: rgb(5, 5, 5); */
  outline: none;
}
.field > img {
  width: 20px;
}
.login :global(.btn) {
  vertical-align: middle;
  height: 30px;
}
/* .login :global(.btn):focus { */
/*   background: rgba(00, 60, 80, 0.6); */
/*   transform: scale(1.05); */
/*   box-shadow: 0 0 0 3px rgba(0, 120, 160, 0.5); */
/* } */
.login_btn_valid {
  border: 2px solid rgba(00, 0, 0, 0.8);
  color: black;
  background: #fff700;
}
.login_btn_valid:hover {
  border: 2px solid rgba(00, 0, 0, 0.8);
  color: black;
  background: yellow;
  transform: scale(1.05);
}
.field {
  overflow: hidden;
  background: rgba(60, 60, 60, 0.6);
  padding: 4px;
  padding-left: 10px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.field:focus-within {
  background: rgba(00, 60, 80, 0.6);
  transform: scale(1.05);
  box-shadow: 0 0 0 3px rgba(0, 120, 160, 0.5);
}
