.container {
  position: inherit;
  bottom: 1rem;
  border-radius: 0.5rem;
  width: 55px;
  height: 22px;
  background-color: #c4c4c4;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 1.5rem;
}
.btn {
  position: relative;
  display: flex;
  border-radius: 0.2rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 27px;
  height: 21px;

  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #066a15;
  box-shadow: 0 2px 4px Orgb(0, 0, 0, 0.25);
  padding: 8px 12px;
  position: relative;
  transition: all 0.5s ease;
}

.disable {
  background-color: #c4c4c4;
  left: 30px;
  color: rgba(93, 9, 28, 0.762);
}
