.preview {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  margin-bottom: 20px;
  background: rgba(10, 10, 10, 0.3);
}
.submit {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: silver;
  align-items: stretch;
  /* justify-content: center; */
  /* max-width: min(95%, 1000px); */
  /* margin: auto; */
  /* padding: 10px; */
  filter: drop-shadow(0 0 0.3rem black);
  /* overflow: hidden; */
  /* margin-top: 20px; */
}
.submit img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.submit video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.action {
  display: flex;
  gap: 5px;
  margin: 20px;
  justify-content: center;
}
.video_submission {
  flex-direction: column;
  /* height: 350px; */
  max-height: 100%;
  justify-content: center;
  overflow: hidden;
}
.video_submission video {
  min-width: 100%;
  width: 100%;
  overflow: hidden;
}
.img_submission {
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
.missing {
  margin-top: 20px;
  max-height: 100%;
  overflow: hidden;
}
