.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.phoneInput {
  width: 100% !important;
  height: 30px !important;
}
.phoneDropdown {
  background: var(--is-it) !important;
}
