#loading {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 9999999;
  backdrop-filter: blur(5px);
}
#loading img {
  height: 5em;
  width: 100%;
  object-fit: contain;
}
#loading span {
  margin: 10px;
  color: silver;
  font-weight: bold;
}
.ui {
  position: fixed;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
}
