.thumb {
  padding: 5px;
  display: inline-flex;
  border-radius: 10px;
  border: 3px solid #111111;
  margin: 5px;
  width: 90%;
  height: 350px;
  box-sizing: border-box;
  background-color: #030303;
}
.aceptedThumb {
  display: inline-flex;
  border-radius: 20;
  border: 5px solid #eaeaea;
  margin-bottom: 8;
  margin-right: 8;
  width: 100%;
  padding: 4;
  box-sizing: border-box;
  background-color: #879879;
}
.thumbInner {
  border-radius: 15;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.thumbLeft {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  max-height: 100%;
  background: rgb(40, 40, 40);
  overflow: none;
}
.imgContainer {
}
.thumbImage {
  flex: 1;
  padding:10px;
  overflow:hidden;
}
.img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  filter: drop-shadow(0px 0px 2px silver);
}
.img2 {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: contain;

  filter: drop-shadow(0px 0px 2px silver);
}
.thumbInput {
  border-radius: 10;
  width: 100%;
  text-align: center;
  flex-grow: 1;
}
.thumbTextArea {
  border-radius: 10;
  width: 100%;
  resize: none;
  flex-grow: 2;
}
.thumbButton {
  color: black !important;
  flex-grow: 1;
  margin: 5px;
}
